---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import WhatIs from "../components/WhatIs.astro";
import Features from "../components/Features.astro";
import Install from "../components/Install.astro";
import QuickInfo from "../components/QuickInfo.astro";
import WhyLove from "../components/WhyLove.astro";
import Requirements from "../components/Requirements.astro";
import Showcase from "../components/Showcase.astro";
import Compare from "../components/Compare.astro";
import Review from "../components/Review.astro";
import DownloadCenter from "../components/DownloadCenter.astro";
import CommonIssues from "../components/CommonIssues.astro";
import Tips from "../components/Tips.astro";
import Safe from "../components/Safe.astro";
import FinalWords from "../components/FinalWords.astro";
import FAQ from "../components/FAQ.astro";
import WhatsNew from "../components/WhatsNew.astro";
import SupportedDevices from "../components/SupportedDevices.astro";
import VersionHistory from "../components/VersionHistory.astro";
import HowItWorks from "../components/HowItWorks.astro";
import PowerFeatures from "../components/PowerFeatures.astro";
import WhatIsApk from "../components/WhatIsApk.astro";
import Legal from "../components/Legal.astro";
---

<Layout>
  <Navbar />
  <main id="top">
    <Hero />
    <WhatIs />
    <HowItWorks />
    <Features />
    <PowerFeatures />
    <WhatsNew />
    <WhyLove />
    <Showcase />
    <Compare />
    <Review />
    <DownloadCenter />
    <SupportedDevices />
    <Install />
    <QuickInfo />
    <VersionHistory />
    <Requirements />
    <CommonIssues />
    <Tips />
    <WhatIsApk />
    <Legal />
    <Safe />
    <FinalWords />
    <FAQ />
  </main>
  <Footer />
</Layout>
